<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>DataSharing</title>
  </head>

  <body>
    <%- include('navbar.ejs') %>

    <div class="mx-auto">
      <div class="container">
        <form action="/data/create" method="post">
          <br />
          <h5>Create New Data</h5>

          <input placeholder="data name" name="createName" type="text" />
          <button>Create</button>
          <br />
        </form>

        <% for (let i = 0; i < message.length; i ++) { %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
        <% } %>
      </div>
    </div>
  </body>
</html>
