<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>DataSharing</title>
  </head>

  <%- include('navbar.ejs') %>

  <body>
    <div class="mx-auto">
      <div class="container">
        <h3>show all data</h3>

        <!-- Search input -->
        <form action="/data/all" method="get">
          <% if (locals.search) { %>
          <input
            type="search"
            name="search"
            placeholder="Search"
            value="<%= search %>"
          />
          <% } else { %>
          <input type="search" name="search" placeholder="Search" />

          <% } %>
          <button>Search</button>
        </form>

        <br />
        <button onclick="location.href='/data/create'">Create New Data</button>
        <br />
        <br />

        <!-- Data list -->
        <% allData.forEach((value, key)=> { %>
        <div>
          <a href="/data/show/<%= value.name %>"> <%= value.name %> </a>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
